<a href="https://colab.research.google.com/github/Prashant-op/-ABTN0102-Global-Terrorism-Analysis/blob/main/Prashant_Bhardwaj_24_02_2021_%5BABTN0102%5D_Global_Terrorism_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [ ]:
# Import Pandas Library
import  pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import time

In [ ]:
# mounted Google colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# so we upload the data set of global terrorism data
working_directory = '/content/drive/My Drive/Alma Better/Cohort Nilgiri/Module 1/Capstone project/Copy of Global Terrorism Data.csv'

# read the data set
df = pd.read_csv(working_directory,encoding='latin1')
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

             eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0       197000000001   1970       7     2  ...        0         0       0      NaN
1       197000000002   1970       0     0  ...        1         1       1      NaN
2       197001000001   1970       1     0  ...       -9         1       1      NaN
3       197001000002   1970       1     0  ...       -9         1       1      NaN
4       197001000003   1970       1     0  ...       -9         1       1      NaN
...              ...    ...     ...   ...  ...      ...       ...     ...      ...
181686  201712310022   2017      12    31  ...        0         0       0      NaN
181687  201712310029   2017      12    31  ...       -9         1       1      NaN
181688  201712310030   2017      12    31  ...        0         0       0      NaN
181689  201712310031   2017      12    31  ...       -9         0      -9      NaN
181690  201712310032   2017      12    31  ...       -9         0      -9      NaN

[181691 rows x 135 columns]

In [ ]:
# see the top five rows
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [ ]:
# see the last 5 rows
df.tail()

             eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
181686  201712310022   2017      12    31  ...        0         0       0      NaN
181687  201712310029   2017      12    31  ...       -9         1       1      NaN
181688  201712310030   2017      12    31  ...        0         0       0      NaN
181689  201712310031   2017      12    31  ...       -9         0      -9      NaN
181690  201712310032   2017      12    31  ...       -9         0      -9      NaN

[5 rows x 135 columns]

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [ ]:
# describe about data set in term aggregation
df.describe()

            eventid          iyear  ...       INT_MISC        INT_ANY
count  1.816910e+05  181691.000000  ...  181691.000000  181691.000000
mean   2.002705e+11    2002.638997  ...       0.090010      -3.945952
std    1.325957e+09      13.259430  ...       0.568457       4.691325
min    1.970000e+11    1970.000000  ...      -9.000000      -9.000000
25%    1.991021e+11    1991.000000  ...       0.000000      -9.000000
50%    2.009022e+11    2009.000000  ...       0.000000       0.000000
75%    2.014081e+11    2014.000000  ...       0.000000       0.000000
max    2.017123e+11    2017.000000  ...       1.000000       1.000000

[8 rows x 77 columns]

# Trying to clean data

In [ ]:
# so we trying to remove all the column which is unnecessary or trying to clean data
df.drop('approxdate',inplace=True, axis=1)

In [ ]:
df

             eventid  iyear  imonth  iday  ...  INT_IDEO INT_MISC  INT_ANY related
0       197000000001   1970       7     2  ...         0        0        0     NaN
1       197000000002   1970       0     0  ...         1        1        1     NaN
2       197001000001   1970       1     0  ...        -9        1        1     NaN
3       197001000002   1970       1     0  ...        -9        1        1     NaN
4       197001000003   1970       1     0  ...        -9        1        1     NaN
...              ...    ...     ...   ...  ...       ...      ...      ...     ...
181686  201712310022   2017      12    31  ...         0        0        0     NaN
181687  201712310029   2017      12    31  ...        -9        1        1     NaN
181688  201712310030   2017      12    31  ...         0        0        0     NaN
181689  201712310031   2017      12    31  ...        -9        0       -9     NaN
181690  201712310032   2017      12    31  ...        -9        0       -9     NaN

[181691 rows x 134 columns]

In [ ]:
# Rename column
df.rename(columns={'iyear':'Year','imonth':'Month','city':'City','iday':'Day','country_txt':'Country','region_txt':'Region','attacktype1_txt':'AttackType','target1':'Target','nkill':'Killed','nwound':'Wounded','summary':'Summary','gname':'Group','targtype1_txt':'Target_type','weaptype1_txt':'Weapon_type','motive':'Motive'},inplace=True)

In [ ]:
df.head()

   Year  Month  ...                  Target_type Weapon_type
0  1970      7  ...  Private Citizens & Property     Unknown
1  1970      0  ...      Government (Diplomatic)     Unknown
2  1970      1  ...          Journalists & Media     Unknown
3  1970      1  ...      Government (Diplomatic)  Explosives
4  1970      1  ...      Government (Diplomatic)  Incendiary

[5 rows x 16 columns]

In [ ]:
# making one colunm adding of two column
df['Casualities'] = df.Killed + df.Wounded

In [ ]:
#only using these column
df=df[['Year','Month','Day','Country','Region','City','latitude','longitude','AttackType','Killed','Wounded','Casualities','Target','Group','Target_type','Weapon_type']]

In [ ]:
df.shape

(181691, 16)

In [ ]:
df

        Year  Month  ...                  Target_type Weapon_type
0       1970      7  ...  Private Citizens & Property     Unknown
1       1970      0  ...      Government (Diplomatic)     Unknown
2       1970      1  ...          Journalists & Media     Unknown
3       1970      1  ...      Government (Diplomatic)  Explosives
4       1970      1  ...      Government (Diplomatic)  Incendiary
...      ...    ...  ...                          ...         ...
181686  2017     12  ...                     Military    Firearms
181687  2017     12  ...                     Military  Explosives
181688  2017     12  ...  Private Citizens & Property  Incendiary
181689  2017     12  ...         Government (General)  Explosives
181690  2017     12  ...                      Unknown  Explosives

[181691 rows x 16 columns]

In [ ]:
df.isnull()

         Year  Month    Day  Country  ...  Target  Group  Target_type  Weapon_type
0       False  False  False    False  ...   False  False        False        False
1       False  False  False    False  ...   False  False        False        False
2       False  False  False    False  ...   False  False        False        False
3       False  False  False    False  ...   False  False        False        False
4       False  False  False    False  ...   False  False        False        False
...       ...    ...    ...      ...  ...     ...    ...          ...          ...
181686  False  False  False    False  ...   False  False        False        False
181687  False  False  False    False  ...   False  False        False        False
181688  False  False  False    False  ...   False  False        False        False
181689  False  False  False    False  ...   False  False        False        False
181690  False  False  False    False  ...   False  False        False        False

[181691 rows x 16 columns]

In [ ]:
#How many entity are to be null
df.isnull().sum()

Year               0
Month              0
Day                0
Country            0
Region             0
City             434
latitude        4556
longitude       4557
AttackType         0
Killed         10313
Wounded        16311
Casualities    16874
Target           636
Group              0
Target_type        0
Weapon_type        0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Year         181691 non-null  int64
 1   Month        181691 non-null  int64
 2   Day          181691 non-null  int64
 3   Country      181691 non-null  object
 4   Region       181691 non-null  object
 5   City         181257 non-null  object
 6   latitude     177135 non-null  float64
 7   longitude    177134 non-null  float64
 8   AttackType   181691 non-null  object
 9   Killed       171378 non-null  float64
 10  Wounded      165380 non-null  float64
 11  Casualities  164817 non-null  float64
 12  Target       181055 non-null  object
 13  Group        181691 non-null  object
 14  Target_type  181691 non-null  object
 15  Weapon_type  181691 non-null  object
dtypes: float64(5), int64(3), object(8)
memory usage: 22.2+ MB

In [ ]:
df.shape

(181691, 16)

In [ ]:
# max attack in country
df['Country'].value_counts().index[0]

'Iraq'

In [ ]:
print('Which country faced  highest number of Terrorist Attacks:',df['Country'].value_counts().index[0])

Which country faced  highest number of Terrorist Attacks: Iraq

In [ ]:
# max attack in region
df['Region'].value_counts().index[0]

'Middle East & North Africa'

In [ ]:
print('Regions with the highest number of  Terrorist Attacks:',df['Region'].value_counts().index[0])

Regions with the highest number of  Terrorist Attacks: Middle East & North Africa

In [ ]:
df['Killed'].max()

1570.0

In [ ]:
df.loc[df['Killed'].idxmax()].Country

'Iraq'

In [ ]:
#maximum Number of people are killed in a single attack
print('Maximum number of people were killed by a single terrorist attack are',df['Killed'].max(),'people that took place in',df.loc[df['Killed'].idxmax()].Country)

Maximum number of people were killed by a single terrorist attack are 1570.0 people that took place in Iraq